{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>About</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi reprehenderit voluptates sit fuga fugit eius saepe quaerat non optio facilis magnam eligendi autem repudiandae, distinctio aliquid architecto. A, excepturi ex.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/gta5.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer}}